Code/VF2/VF2/Debug/
test/
Code/VF2/VF2/Output/
Code/VF2/VF2/ans1.txt
Code/VF2/VF2/Release/
Code/VF2/Release/
Exe/Output/ans4.txt
Exe/
Code/VF2/VF2/debug.txt
Code/VF2/VF2/db.txt
Code/VF2/VF2/query.txt
